<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <script src = "/js/jquery-1.11.3.js"></script>
    <div class="container">
        <div class="wrapper">
            Enter Chord Name: <input type="text" name="chord" id="chord" />
            <button id="submit" onClick= "buttonClick()" style="margin-bottom: 50px;">Submit</button>
        </div>
        <div id="chordDiv" align = "center"></div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>
